dialog {
    background-color: rgba(0, 0, 0, 0.5);
}

article {
    background-color: rgba(0, 0, 0, 0.5);
}

article h3 {
    color: white;
}

article p {
    color: white
}

.footer {
    background-color: rgba(0, 0, 0, 0.5);
}

footer a {
    height: 70px;
    width: 200px;
    
}

footer a h4 {
    font-weight: 200px;
    color: white;
}

.footer a:hover {
    border: 1px solid white;
}
